body {
    margin: auto;
    padding: 4rem;
    width: 75%;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

#card-container {
    margin: auto;
    width: 85%;
    height: 40%;
    border: 1px solid grey;
}

.form-container {
    margin: 2rem 7%;
}

input, textarea {
    width: 100%;
    margin: 1rem 0;

}

h1 {
    text-align: center;
}

